<div class="container">
  <div class="row">
    <ng-container *ngIf="listCourse">
      <div class="col-md-3" *ngFor="let course of listCourse">
        <app-course [course]="course"></app-course>
      </div>
    </ng-container>
  </div>
</div>
<br />
<div class="flex justify-center space-x-1 text-coolGray-800">
  <button title="previous" type="button"
    class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md bg-coolGray-50 border-coolGray-100">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
      stroke-linejoin="round" class="w-4">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </button>
  <button type="button" title="Page 1"
    class="inline-flex items-center justify-center w-8 h-8 text-sm font-semibold border rounded shadow-md bg-coolGray-50 text-violet-600 border-violet-600">1</button>
  <button type="button"
    class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md bg-coolGray-50 border-coolGray-100"
    title="Page 2">2</button>
  <button type="button"
    class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md bg-coolGray-50 border-coolGray-100"
    title="Page 3">3</button>
  <button type="button"
    class="inline-flex items-center justify-center w-8 h-8 text-sm border rounded shadow-md bg-coolGray-50 border-coolGray-100"
    title="Page 4">4</button>
  <!---->
  <button title="next" type="button"
    class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow-md bg-coolGray-50 border-coolGray-100">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
      stroke-linejoin="round" class="w-4">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </button>
</div>




<app-modal></app-modal>
